@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@layer utilities {
  .form::-webkit-scrollbar,
  .modal::-webkit-scrollbar {
    width: 8px;
  }

  .scroll-transparent::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .scroll-transparent::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scroll-transparent::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 6px;
  }
  
  .scroll-transparent:hover::-webkit-scrollbar-thumb {
    background: rgba(188, 188, 188, 0.179);
  }

  .form::-webkit-scrollbar-track,
  .form::-webkit-scrollbar-thumb,
  .form::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

  .modal::-webkit-scrollbar-track {
    background-color: #000C13;
    border: 6px solid #000C13;
    border-radius: 8px;
  }

  .modal::-webkit-scrollbar-thumb {
    background-color: #ffffff47;
    border-radius: 6px;
  }

  .modal::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff47;
  }
}

.mySwiper {
  width: 100%;
}

.mySwiper .swiper-pagination-bullet{
  transition: all 0.6s;
  padding: 6px;
  border-radius: 6px;
} 
.mySwiper .swiper-pagination-bullet-active{
  background-color: #fff;
  width: 60px;
}

@media screen and (max-width: 1624px) {
  .force_desktop_screen {
    width: 1296px;
  }
  .force{
    width: 100%;
  }
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
